.not-in-current-month {
  color: rgba(0, 0, 0, .5);
  cursor: auto !important;
  background-color: #eeeeee !important;
}

.date-cell {
  background-color: #ffffff;
}

.fadeInRight {
  animation-duration: 150ms;
}

.fadeInLeft {
  animation-duration: 150ms;
}