.sidebar.col-md-2{
  height: 90vh;
  overflow: scroll;
}

.sidebar-header {
  border-bottom: 3px solid #444444;
}

.sidebar-item {
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 5px;
}

.list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%; 
  overflow: auto;
}

.date-list {
  padding: 0;
  margin-top: 20px;
  font-size: 0.8em;
  font-weight: bold;
}

.custom-control-label::before, 
.custom-control-label::after {
top: .8rem;
width: 1.25rem;
height: 1.25rem;
}

.place-button button {
  margin-right: 5px;
  margin-bottom: 5px; 
}