.seven-cols .col-md-1 {
  padding: 5px;
  border-right: 1px solid hsl(0, 0%, 80%);
  flex: 0 0 14.28571%;
  max-width: 14.28571%;
  cursor: pointer;
}

.week-row {
  height: 15vh;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}